{
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "tabWidth": 2,
  "useTabs": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES",
    "^@/components/(.*)$",
    "^@/screens/(.*)$",
    "^@/ui/(.*)$",
    "^@/hooks/(.*)$",
    "^@/shared/(.*)$",
    "^@/services/(.*)$",
    "^@/assets/(.*)$",
    "^@/config/(.*)$",
    "^@/store/(.*)$",
    "^@/utils/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "^(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
